
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Golos+Text:wght@500;700&family=Labrada&family=Lato:ital,wght@0,400;1,400;1,700&family=Lora:ital,wght@1,500&family=Open+Sans:ital,wght@1,600&family=Poppins:wght@500;600;700&family=Roboto+Condensed&family=Ubuntu&family=Work+Sans:wght@400;500;600&display=swap');
 *{font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Ubuntu', sans-serif;
 }

 /* shared style */
 
  :root{
    --text-color-:#3A3A3A;
  }
 body{
    background: #FFF;
 }

 /* header styles */
 header{

 }
 .head-title{
    font-size: 1.5rem;
    font-weight: 700;
 }
 nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
 }
 .menu{
    display: flex;
    gap: 34px;
    align-items: center;
 }
 nav li {
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
 }
 nav li a {
    text-decoration: none;

 }
 .influencer-preview{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }
 .influencer-preview-col img{
    background-image: url('../images/Circle\ design.svg');
 }
