
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Golos+Text:wght@500;700&family=Labrada&family=Lato:ital,wght@0,400;1,400;1,700&family=Lora:ital,wght@1,500&family=Open+Sans:ital,wght@1,600&family=Poppins:wght@500;600;700&family=Roboto+Condensed&family=Ubuntu&family=Work+Sans:wght@400;500;600&display=swap');
 *{font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Ubuntu', sans-serif;
 }

 /* shared style */
 
  :root{
    --text-color-:#3A3A3A;
    
    --orange-60:#FB8200;
  }
 body{
    background: #FFF;
 }
 .-text-gray{
   color:#18191F; 
   font-size: 28px;
   font-weight: 500;
    /* margin-top: 15px;
    margin-left: 18px; */
    padding-left: 16px;
  
 }
 .-text-light{
   color: rgba(0, 0, 0, 0.87);
   font-family: Ubuntu;
   font-size: 24px;
   font-weight: 400;
   margin-top: 3px;
   margin-left: 16px;
 }
 .desc-gray{
   color:#787885;
   font-size: 1rem;
   font-weight: 700;
   padding-left: 16px;
   padding-bottom: 17px;
   letter-spacing: 0.252px;
 }
  .text{
   color: #5E6366;
   font-size: 1rem;
   font-weight: 700;
   line-height: 22px; /* 157.143% */
   letter-spacing: 0.1px; 
  }
 /* header styles */
 header{

 }
 .head-title{
    font-size: 1.5rem;
    font-weight: 700;
 }
 nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 415px;
    
    
 }
 .menu{
    display: flex;
    gap: 34px;
    align-items: center;
 }
 nav li {
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
 }
 nav li a {
    text-decoration: none;

 }
 .influencer-preview{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 80px;
 }
 .col-title{
   font-size: 3.25rem;
   font-weight: 700;
   line-height: 70px;
 }
 .col-desc{
   font-size: 1rem;
   font-weight: 600;
 }
 .btn-primary{
   border-radius: 41px;
   background: #E02C6D;
   color: #FFF;
   padding: 10px 24px;
 }
 .influencer-preview-col {
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    margin-top: 50px;
   
 }
 .influencer-preview-col img {
   padding: 30px 33px 30px 2px;
 }
 /* sponsor */
 .sponsor-container{
   display: flex;
   gap: 60px;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   padding: 70px 100px;
  
  
 }
 .sponsor-container img{
   fill: linear-gradient(135deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);

 }
 /* populer */
 .populer-container-box{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   padding: 0px 180px;
   align-items: center;

 }
 .box-item{
   width: 350px;
   height: 530px; 
   border-radius: 5px;
   background: #FFF;
   box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
 }
 .box-item img{
   padding: 17px 20px 0px 25px;
   
 }
 .rating{
   display: flex;
   gap: 5px;
   justify-content: left;
   padding-left: 8px;

 }
 .rating li{
   list-style: none;
  
   margin-top: -16px;
   
  
 }
 .rating li a i{
   width: 10px;
   height: 10px;
   color: var(--orange-60);
   margin-right: 5px;
  

 }
 .populer-title{
   color: #3A3A3A;
   font-size: 2rem;
   font-style: normal;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
 }
